body {
  background: #95d9de;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

// helpers

.fillContainer {
  width: 100%;
  height: 100%;
  max-width: unset;
  max-height: unset;
}

.left {
  float: left;
}

.right {
  float: right;
}

.noPadding {
  padding: 0 !important;
}

.noMargin {
  margin: 0 !important;
}

.actionIcon {
  cursor: pointer;
}

.hidden {
  display: none !important;
}
